<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width = device-width, initial-scale = 1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Quản lý thông tin nhân viên</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
</head>
<body>
<div class="header">
    <div class="columnHeader">
        <img src="/images/LogoDHTBank.jpg" alt="DHT Bank - Sustainable value"/>
    </div>
    <div class="columnHeader">
        <h2 style="color: #ffd700">Ngân hàng Bưu chính Viễn thông</h2>
    </div>
    <div class="columnHeader">
        <div>
            <h4 style="color: orange">Hỗ trợ trong nước: 0862 868 355 </h4>
        </div>
        <div>
            <h4 style="color: orange">Hỗ trợ quốc tế: +84 862 868 355</h4>
        </div>
    </div>
</div>
<div class="content">
    <div class="column1Admin">
        <div class="btn-group-vertical">
            <form th:action="@{/admin/home}" method="get" class="form1">
                <button class="btn btn-primary" type="submit">Trang chủ</button>
            </form>
            <form th:action="@{/admin/manage-staff}" method="get" class="form1">
                <button type="submit" class="btn btn-primary">Quản lý thông tin nhân viên</button>
            </form>
            <form th:action="@{/admin/manage-customer}" method="get" class="form1">
                <button type="submit" class="btn btn-primary">Quản lý thông tin khách hàng</button>
            </form>
            <form th:action="@{/admin/manage-TKGui}" method="get" class="form1">
                <button type="submit" class="btn btn-primary">Quản lý tài khoản gửi</button>
            </form>
            <form th:action="@{/admin/manage-TKTinDung}" method="get" class="form1">
                <button type="submit" class="btn btn-primary">Quản lý tài khoản tín dụng</button>
            </form>
            <form th:action="@{##}" method="get" class="form1">
                <button type="submit" class="btn btn-primary">Xem báo cáo thống kê</button>
            </form>
        </div>
    </div>
    <div class="column2Admin">
        <div style="text-align: center"><h4>Quản lý thông tin nhân viên</h4></div>
        <form th:action="@{/admin/search-employee}" method="post">
            <table>
                <tr><input class="hang" type="text" placeholder="Search" name="key"></tr>
                <tr>
                    <select name="searchBy">
                        <option value="CMT">Tìm theo CMT/CCCD</option>
                        <option value="NAME">Tìm theo tên</option>
                    </select>
                </tr>
            </table>
            <div align="center">
                <button type="submit">Tìm kiếm</button>
            </div>
        </form>
        <form th:action="@{/admin/create-employee}" method="get">
            <button type="submit" style="float: left">Thêm mới nhân viên</button>
        </form>
        <form th:action="@{/admin/manage-staff}" method="get">
            <button type="submit" style="float: left">Hiển thị tất cả</button>
        </form>
        <div>
            <table border="1px" style="width: 100%">
                <tr>
                    <th>STT</th>
                    <th>ID</th>
                    <th>Mã nhân viên</th>
                    <th>Họ tên</th>
                    <th>CMT</th>
                    <th>Ngày sinh</th>
                    <th>Địa chỉ</th>
                    <th>Chức vụ</th>
                    <th>Bậc nghề</th>
                    <th>Thâm niên</th>
                    <th>Password</th>
                    <th>Ngày tạo</th>
                    <th>Action</th>
                </tr>
                <tr th:each="employee, state : ${employees}">
                    <td th:text="${state.index}+1"></td>
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.ma}"></td>
                    <td th:text="${employee.ten}"></td>
                    <td th:text="${employee.cmt}"></td>
                    <td th:text="${employee.ngaySinh}"></td>
                    <td th:text="${employee.diaChi}"></td>
                    <td th:text="${employee.viTri}"></td>
                    <td th:text="${employee.bacNghe}"></td>
                    <td th:text="${employee.thamNien}"></td>
                    <td th:text="${employee.password}"></td>
                    <td th:text="${employee.ngayTao}"></td>
                    <td><a th:href="@{'/admin/edit-employee?id='+${state.index}}">Sửa</a>
                        |<a th:href="@{'/admin/delete-employee?id='+${state.index}}">Xóa</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="footer">
    <div>
        <h4 style="text-align: center">Thông tin thành viên</h4>
    </div>
    <div>
        <div class="columnFooter">
            <div>
                <p>Họ và tên</p>
            </div>
            <div>
                <p>Mã sinh viên</p>
            </div>
            <div>
                <p>Email</p>
            </div>
        </div>
        <div class="columnFooter">
            <div>
                <p>Nguyễn Văn Định</p>
            </div>
            <div>
                <p>B16DCCN074</p>
            </div>
            <div>
                <p>Dinhcuuhd@gmail.com</p>
            </div>
        </div>
        <div class="columnFooter">
            <div>
                <p>Nguyễn Văn Hạnh</p>
            </div>
            <div>
                <p>B16DCCN130</p>
            </div>
            <div>
                <p>Nvhanh1411@gmail.com</p>
            </div>
        </div>
        <div class="columnFooter">
            <div>
                <p>Nguyễn Văn Thắng</p>
            </div>
            <div>
                <p>B16DCCN074</p>
            </div>
            <div>
                <p>Dinhcuuhd@gmail.com</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>